@charset "UTF-8";
/*Colores*/
/*Font Family*/
/*Extends*/
body main div p, main h2, .fotos, .boton .enviar button, .boton a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-conteni .relax:hover, .grid-conteni .relax, .grid-conteni .spaday:hover, .grid-conteni .spaday, .grid-conteni .roja:hover, .grid-conteni .roja, .grid-conteni .boda:hover, .grid-conteni .boda, body main .gastronomica:hover, body main .gastronomica, body main .piezas .habi2:hover, body main .piezas .habi2, body main .piezas .habi1:hover, body main .piezas .habi1, main .grid-content div .piezasa2:hover, main .grid-content div .piezasa2, main .grid-content div .piezasa1:hover, main .grid-content div .piezasa1, main .grid-cont .catadevino:hover, main .grid-cont .catadevino, main .grid-cont .cumpleaños:hover, main .grid-cont .cumpleaños, main .grid-cont .reunion:hover, main .grid-cont .reunion, main .grid-cont .casamiento:hover, main .grid-cont .casamiento {
  box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
}

.slider {
  width: 30%;
  margin: auto;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 90%;
  -webkit-animation: cambio 20s infinite alternate;
          animation: cambio 20s infinite alternate;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.slider ul li {
  width: 30%;
  list-style: none;
}
.slider ul li img {
  width: 335%;
}
@-webkit-keyframes cambio {
  0% {
    margin-left: 0;
  }
  15% {
    margin-left: 0;
  }
  20% {
    margin-left: -100%;
  }
  40% {
    margin-left: -100%;
  }
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  15% {
    margin-left: 0;
  }
  20% {
    margin-left: -100%;
  }
  40% {
    margin-left: -100%;
  }
}

.slider2 {
  width: 95%;
  margin: auto;
  overflow: hidden;
}
.slider2 ul {
  display: flex;
  padding: 0;
  width: 200%;
  -webkit-animation: cambio 20s infinite alternate;
          animation: cambio 20s infinite alternate;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.slider2 ul li {
  width: 400%;
  list-style: none;
}
.slider2 ul li img {
  width: 80%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  15% {
    margin-left: 0;
  }
  20% {
    margin-left: -100%;
  }
  40% {
    margin-left: -100%;
  }
}

.boton {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5em;
  margin: 1.875em;
}
.boton a {
  text-decoration: none;
  display: inline-flex;
  width: 90%;
  height: 20%;
  background-color: #1F1F24;
  color: ivory;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 0.3125em;
  position: relative;
  overflow: hidden;
}
.boton a span {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
}
.boton:after {
  content: "";
  width: 90%;
  height: 20%;
  background: #c4b107;
  position: absolute;
  z-index: 1;
  top: -5em;
  left: 0;
  transition: 0.3s ease-in-out all;
}
.boton .enviar {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5em;
}
.boton .enviar button {
  text-decoration: none;
  display: inline-flex;
  width: 90%;
  height: 20%;
  background-color: #1F1F24;
  color: ivory;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9375em;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.boton .enviar button input {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
  font-family: "Montserrat", sans-serif;
  background-color: #1F1F24;
}
.boton .enviar button:after {
  content: "";
  width: 90%;
  height: 20%;
  background: #c4b107;
  position: absolute;
  z-index: 1;
  top: -5em;
  left: 0;
  transition: 0.3s ease-in-out all;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

/*Colores*/
/*Font Family*/
/*Extends*/
body main div p, main h2, .fotos, .boton a, .boton .enviar button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-conteni .relax:hover, .grid-conteni .relax, .grid-conteni .spaday:hover, .grid-conteni .spaday, .grid-conteni .roja:hover, .grid-conteni .roja, .grid-conteni .boda:hover, .grid-conteni .boda, body main .gastronomica:hover, body main .gastronomica, body main .piezas .habi2:hover, body main .piezas .habi2, body main .piezas .habi1:hover, body main .piezas .habi1, main .grid-content div .piezasa2:hover, main .grid-content div .piezasa2, main .grid-content div .piezasa1:hover, main .grid-content div .piezasa1, main .grid-cont .catadevino:hover, main .grid-cont .catadevino, main .grid-cont .cumpleaños:hover, main .grid-cont .cumpleaños, main .grid-cont .reunion:hover, main .grid-cont .reunion, main .grid-cont .casamiento:hover, main .grid-cont .casamiento {
  box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
}

/*Colores*/
/*Font Family*/
/*Extends*/
body main div p, main h2, .fotos, .boton a, .boton .enviar button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-conteni .relax:hover, .grid-conteni .relax, .grid-conteni .spaday:hover, .grid-conteni .spaday, .grid-conteni .roja:hover, .grid-conteni .roja, .grid-conteni .boda:hover, .grid-conteni .boda, body main .gastronomica:hover, body main .gastronomica, body main .piezas .habi2:hover, body main .piezas .habi2, body main .piezas .habi1:hover, body main .piezas .habi1, main .grid-content div .piezasa2:hover, main .grid-content div .piezasa2, main .grid-content div .piezasa1:hover, main .grid-content div .piezasa1, main .grid-cont .catadevino:hover, main .grid-cont .catadevino, main .grid-cont .cumpleaños:hover, main .grid-cont .cumpleaños, main .grid-cont .reunion:hover, main .grid-cont .reunion, main .grid-cont .casamiento:hover, main .grid-cont .casamiento {
  box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
}

.slider {
  width: 30%;
  margin: auto;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 90%;
  -webkit-animation: cambio 20s infinite alternate;
          animation: cambio 20s infinite alternate;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.slider ul li {
  width: 30%;
  list-style: none;
}
.slider ul li img {
  width: 335%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  15% {
    margin-left: 0;
  }
  20% {
    margin-left: -100%;
  }
  40% {
    margin-left: -100%;
  }
}

.slider2 {
  width: 95%;
  margin: auto;
  overflow: hidden;
}
.slider2 ul {
  display: flex;
  padding: 0;
  width: 200%;
  -webkit-animation: cambio 20s infinite alternate;
          animation: cambio 20s infinite alternate;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.slider2 ul li {
  width: 400%;
  list-style: none;
}
.slider2 ul li img {
  width: 80%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  15% {
    margin-left: 0;
  }
  20% {
    margin-left: -100%;
  }
  40% {
    margin-left: -100%;
  }
}

.boton {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5em;
  margin: 1.875em;
}
.boton a {
  text-decoration: none;
  display: inline-flex;
  width: 90%;
  height: 20%;
  background-color: #1F1F24;
  color: ivory;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 0.3125em;
  position: relative;
  overflow: hidden;
}
.boton a span {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
}
.boton:after {
  content: "";
  width: 90%;
  height: 20%;
  background: #c4b107;
  position: absolute;
  z-index: 1;
  top: -5em;
  left: 0;
  transition: 0.3s ease-in-out all;
}
.boton .enviar {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5em;
}
.boton .enviar button {
  text-decoration: none;
  display: inline-flex;
  width: 90%;
  height: 20%;
  background-color: #1F1F24;
  color: ivory;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9375em;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.boton .enviar button input {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
  font-family: "Montserrat", sans-serif;
  background-color: #1F1F24;
}
.boton .enviar button:after {
  content: "";
  width: 90%;
  height: 20%;
  background: #c4b107;
  position: absolute;
  z-index: 1;
  top: -5em;
  left: 0;
  transition: 0.3s ease-in-out all;
}

/*Colores*/
/*Font Family*/
/*Extends*/
body main div p, main h2, .fotos, .boton a, .boton .enviar button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-conteni .relax:hover, .grid-conteni .relax, .grid-conteni .spaday:hover, .grid-conteni .spaday, .grid-conteni .roja:hover, .grid-conteni .roja, .grid-conteni .boda:hover, .grid-conteni .boda, body main .gastronomica:hover, body main .gastronomica, body main .piezas .habi2:hover, body main .piezas .habi2, body main .piezas .habi1:hover, body main .piezas .habi1, main .grid-content div .piezasa2:hover, main .grid-content div .piezasa2, main .grid-content div .piezasa1:hover, main .grid-content div .piezasa1, main .grid-cont .catadevino:hover, main .grid-cont .catadevino, main .grid-cont .cumpleaños:hover, main .grid-cont .cumpleaños, main .grid-cont .reunion:hover, main .grid-cont .reunion, main .grid-cont .casamiento:hover, main .grid-cont .casamiento {
  box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

main .grid-cont {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding-top: 25px;
}
main .grid-cont .casamiento {
  width: 430px;
  height: 420px;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  padding: 25px;
}
main .grid-cont .casamiento:hover {
  transform: translateY(-15px);
}
main .grid-cont .casamiento img {
  width: 330px;
  height: 220px;
}
main .grid-cont .casamiento h4 {
  color: #c4b107;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
main .grid-cont .casamiento p {
  font-family: "Montserrat", sans-serif;
}
main .grid-cont .casamiento .btn a {
  text-decoration: none;
  color: black;
}
main .grid-cont .reunion {
  width: 430px;
  height: 420px;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  padding: 25px;
}
main .grid-cont .reunion:hover {
  transform: translateY(-15px);
}
main .grid-cont .reunion img {
  width: 330px;
  height: 220px;
}
main .grid-cont .reunion h4 {
  color: #c4b107;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
main .grid-cont .reunion p {
  font-family: "Montserrat", sans-serif;
}
main .grid-cont .reunion .btn a {
  text-decoration: none;
  color: black;
}
main .grid-cont .cumpleaños {
  width: 430px;
  height: 420px;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}
main .grid-cont .cumpleaños:hover {
  transform: translateY(-15px);
}
main .grid-cont .cumpleaños img {
  width: 330px;
  height: 220px;
}
main .grid-cont .cumpleaños h4 {
  color: #c4b107;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
main .grid-cont .cumpleaños p {
  font-family: "Montserrat", sans-serif;
}
main .grid-cont .cumpleaños .btn a {
  text-decoration: none;
  color: black;
}
main .grid-cont .catadevino {
  width: 430px;
  height: 420px;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}
main .grid-cont .catadevino:hover {
  transform: translateY(-15px);
}
main .grid-cont .catadevino img {
  width: 330px;
  height: 220px;
}
main .grid-cont .catadevino h4 {
  color: #c4b107;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
main .grid-cont .catadevino p {
  font-family: "Montserrat", sans-serif;
}
main .grid-cont .catadevino .btn a {
  text-decoration: none;
  color: black;
}

/*Colores*/
/*Font Family*/
/*Extends*/
body main div p, main h2, .fotos, .boton a, .boton .enviar button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-conteni .relax:hover, .grid-conteni .relax, .grid-conteni .spaday:hover, .grid-conteni .spaday, .grid-conteni .roja:hover, .grid-conteni .roja, .grid-conteni .boda:hover, .grid-conteni .boda, body main .gastronomica:hover, body main .gastronomica, body main .piezas .habi2:hover, body main .piezas .habi2, body main .piezas .habi1:hover, body main .piezas .habi1, main .grid-content div .piezasa2:hover, main .grid-content div .piezasa2, main .grid-content div .piezasa1:hover, main .grid-content div .piezasa1, main .grid-cont .casamiento, main .grid-cont .casamiento:hover, main .grid-cont .reunion, main .grid-cont .reunion:hover, main .grid-cont .cumpleaños, main .grid-cont .cumpleaños:hover, main .grid-cont .catadevino, main .grid-cont .catadevino:hover {
  box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
}

.slider {
  width: 30%;
  margin: auto;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 90%;
  -webkit-animation: cambio 20s infinite alternate;
          animation: cambio 20s infinite alternate;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.slider ul li {
  width: 30%;
  list-style: none;
}
.slider ul li img {
  width: 335%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  15% {
    margin-left: 0;
  }
  20% {
    margin-left: -100%;
  }
  40% {
    margin-left: -100%;
  }
}

.slider2 {
  width: 95%;
  margin: auto;
  overflow: hidden;
}
.slider2 ul {
  display: flex;
  padding: 0;
  width: 200%;
  -webkit-animation: cambio 20s infinite alternate;
          animation: cambio 20s infinite alternate;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.slider2 ul li {
  width: 400%;
  list-style: none;
}
.slider2 ul li img {
  width: 80%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  15% {
    margin-left: 0;
  }
  20% {
    margin-left: -100%;
  }
  40% {
    margin-left: -100%;
  }
}

.boton {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5em;
  margin: 1.875em;
}
.boton a {
  text-decoration: none;
  display: inline-flex;
  width: 90%;
  height: 20%;
  background-color: #1F1F24;
  color: ivory;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 0.3125em;
  position: relative;
  overflow: hidden;
}
.boton a span {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
}
.boton:after {
  content: "";
  width: 90%;
  height: 20%;
  background: #c4b107;
  position: absolute;
  z-index: 1;
  top: -5em;
  left: 0;
  transition: 0.3s ease-in-out all;
}
.boton .enviar {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5em;
}
.boton .enviar button {
  text-decoration: none;
  display: inline-flex;
  width: 90%;
  height: 20%;
  background-color: #1F1F24;
  color: ivory;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9375em;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.boton .enviar button input {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
  font-family: "Montserrat", sans-serif;
  background-color: #1F1F24;
}
.boton .enviar button:after {
  content: "";
  width: 90%;
  height: 20%;
  background: #c4b107;
  position: absolute;
  z-index: 1;
  top: -5em;
  left: 0;
  transition: 0.3s ease-in-out all;
}

/*Colores*/
/*Font Family*/
/*Extends*/
body main div p, main h2, .fotos, .boton a, .boton .enviar button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-conteni .relax:hover, .grid-conteni .relax, .grid-conteni .spaday:hover, .grid-conteni .spaday, .grid-conteni .roja:hover, .grid-conteni .roja, .grid-conteni .boda:hover, .grid-conteni .boda, body main .gastronomica:hover, body main .gastronomica, body main .piezas .habi2:hover, body main .piezas .habi2, body main .piezas .habi1:hover, body main .piezas .habi1, main .grid-content div .piezasa2:hover, main .grid-content div .piezasa2, main .grid-content div .piezasa1:hover, main .grid-content div .piezasa1, main .grid-cont .casamiento, main .grid-cont .casamiento:hover, main .grid-cont .reunion, main .grid-cont .reunion:hover, main .grid-cont .cumpleaños, main .grid-cont .cumpleaños:hover, main .grid-cont .catadevino, main .grid-cont .catadevino:hover {
  box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

footer {
  width: 100%;
  height: 100%;
}

.fotos {
  background-color: #1F1F24;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 20px;
}
.fotos a {
  width: 10%;
  height: 10%;
}

/*Colores*/
/*Font Family*/
/*Extends*/
body main div p, main h2, .boton a, .boton .enviar button, .fotos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-conteni .relax:hover, .grid-conteni .relax, .grid-conteni .spaday:hover, .grid-conteni .spaday, .grid-conteni .roja:hover, .grid-conteni .roja, .grid-conteni .boda:hover, .grid-conteni .boda, body main .gastronomica:hover, body main .gastronomica, body main .piezas .habi2:hover, body main .piezas .habi2, body main .piezas .habi1:hover, body main .piezas .habi1, main .grid-content div .piezasa2:hover, main .grid-content div .piezasa2, main .grid-content div .piezasa1:hover, main .grid-content div .piezasa1, main .grid-cont .casamiento, main .grid-cont .casamiento:hover, main .grid-cont .reunion, main .grid-cont .reunion:hover, main .grid-cont .cumpleaños, main .grid-cont .cumpleaños:hover, main .grid-cont .catadevino, main .grid-cont .catadevino:hover {
  box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

/*Colores*/
/*Font Family*/
/*Extends*/
body main div p, main h2, .boton a, .boton .enviar button, .fotos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-conteni .relax:hover, .grid-conteni .relax, .grid-conteni .spaday:hover, .grid-conteni .spaday, .grid-conteni .roja:hover, .grid-conteni .roja, .grid-conteni .boda:hover, .grid-conteni .boda, body main .gastronomica:hover, body main .gastronomica, body main .piezas .habi2:hover, body main .piezas .habi2, body main .piezas .habi1:hover, body main .piezas .habi1, main .grid-content div .piezasa2:hover, main .grid-content div .piezasa2, main .grid-content div .piezasa1:hover, main .grid-content div .piezasa1, main .grid-cont .casamiento, main .grid-cont .casamiento:hover, main .grid-cont .reunion, main .grid-cont .reunion:hover, main .grid-cont .cumpleaños, main .grid-cont .cumpleaños:hover, main .grid-cont .catadevino, main .grid-cont .catadevino:hover {
  box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
}

.slider {
  width: 30%;
  margin: auto;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 90%;
  -webkit-animation: cambio 20s infinite alternate;
          animation: cambio 20s infinite alternate;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.slider ul li {
  width: 30%;
  list-style: none;
}
.slider ul li img {
  width: 335%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  15% {
    margin-left: 0;
  }
  20% {
    margin-left: -100%;
  }
  40% {
    margin-left: -100%;
  }
}

.slider2 {
  width: 95%;
  margin: auto;
  overflow: hidden;
}
.slider2 ul {
  display: flex;
  padding: 0;
  width: 200%;
  -webkit-animation: cambio 20s infinite alternate;
          animation: cambio 20s infinite alternate;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.slider2 ul li {
  width: 400%;
  list-style: none;
}
.slider2 ul li img {
  width: 80%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  15% {
    margin-left: 0;
  }
  20% {
    margin-left: -100%;
  }
  40% {
    margin-left: -100%;
  }
}

.boton {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5em;
  margin: 1.875em;
}
.boton a {
  text-decoration: none;
  display: inline-flex;
  width: 90%;
  height: 20%;
  background-color: #1F1F24;
  color: ivory;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 0.3125em;
  position: relative;
  overflow: hidden;
}
.boton a span {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
}
.boton:after {
  content: "";
  width: 90%;
  height: 20%;
  background: #c4b107;
  position: absolute;
  z-index: 1;
  top: -5em;
  left: 0;
  transition: 0.3s ease-in-out all;
}
.boton .enviar {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5em;
}
.boton .enviar button {
  text-decoration: none;
  display: inline-flex;
  width: 90%;
  height: 20%;
  background-color: #1F1F24;
  color: ivory;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9375em;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.boton .enviar button input {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
  font-family: "Montserrat", sans-serif;
  background-color: #1F1F24;
}
.boton .enviar button:after {
  content: "";
  width: 90%;
  height: 20%;
  background: #c4b107;
  position: absolute;
  z-index: 1;
  top: -5em;
  left: 0;
  transition: 0.3s ease-in-out all;
}

main h2 {
  font-family: "Montserrat", sans-serif;
  color: #c4b107;
  font-size: 30px;
  margin: 20px;
}
main .grid-content {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
main .grid-content div .piezasa1 {
  width: 630px;
  max-width: 1200px;
  height: 420px;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  padding: 25px;
}
main .grid-content div .piezasa1:hover {
  transform: translateY(-15px);
}
main .grid-content div .piezasa1 .slider2 {
  width: 40%;
  margin: auto;
  overflow: hidden;
}
main .grid-content div .piezasa1 .slider2 ul {
  display: flex;
  padding: 0;
  width: 200%;
  -webkit-animation: cambio 20s infinite alternate;
          animation: cambio 20s infinite alternate;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
main .grid-content div .piezasa1 .slider2 ul li {
  width: 400%;
  list-style: none;
}
main .grid-content div .piezasa1 .slider2 ul li img {
  width: 330px;
  height: 220px;
}
main .grid-content div .piezasa1 h3 {
  color: #c4b107;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
main .grid-content div .piezasa1 p {
  font-family: "Montserrat", sans-serif;
}
main .grid-content div .piezasa2 {
  width: 630px;
  height: 420px;
  max-width: 1200px;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  padding: 25px;
}
main .grid-content div .piezasa2:hover {
  transform: translateY(-15px);
}
main .grid-content div .piezasa2 .slider2 {
  width: 40%;
  margin: auto;
  overflow: hidden;
}
main .grid-content div .piezasa2 .slider2 ul {
  display: flex;
  padding: 0;
  width: 630px;
  -webkit-animation: cambio 20s infinite alternate;
          animation: cambio 20s infinite alternate;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
main .grid-content div .piezasa2 .slider2 ul li {
  width: 400%;
  list-style: none;
}
main .grid-content div .piezasa2 .slider2 ul li img {
  width: 330px;
  height: 220px;
}
main .grid-content div .piezasa2 h3 {
  color: #c4b107;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
main .grid-content div .piezasa2 p {
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 578px) {
  main {
    width: 430px;
    height: 520px;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    padding: 25px;
  }
}
@media screen and (max-width: 768px) {
  main {
    width: 430px;
    height: 520px;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    padding: 25px;
  }
}

/*Colores*/
/*Font Family*/
/*Extends*/
body main div p, .boton a, .boton .enviar button, .fotos, main h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-conteni .relax:hover, .grid-conteni .relax, .grid-conteni .spaday:hover, .grid-conteni .spaday, .grid-conteni .roja:hover, .grid-conteni .roja, .grid-conteni .boda:hover, .grid-conteni .boda, body main .gastronomica:hover, body main .gastronomica, body main .piezas .habi2:hover, body main .piezas .habi2, body main .piezas .habi1:hover, body main .piezas .habi1, main .grid-cont .casamiento, main .grid-cont .casamiento:hover, main .grid-cont .reunion, main .grid-cont .reunion:hover, main .grid-cont .cumpleaños, main .grid-cont .cumpleaños:hover, main .grid-cont .catadevino, main .grid-cont .catadevino:hover, main .grid-content div .piezasa1, main .grid-content div .piezasa1:hover, main .grid-content div .piezasa2, main .grid-content div .piezasa2:hover {
  box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
}

/*Colores*/
/*Font Family*/
/*Extends*/
body main div p, .boton a, .boton .enviar button, .fotos, main h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-conteni .relax:hover, .grid-conteni .relax, .grid-conteni .spaday:hover, .grid-conteni .spaday, .grid-conteni .roja:hover, .grid-conteni .roja, .grid-conteni .boda:hover, .grid-conteni .boda, body main .gastronomica:hover, body main .gastronomica, body main .piezas .habi2:hover, body main .piezas .habi2, body main .piezas .habi1:hover, body main .piezas .habi1, main .grid-cont .casamiento, main .grid-cont .casamiento:hover, main .grid-cont .reunion, main .grid-cont .reunion:hover, main .grid-cont .cumpleaños, main .grid-cont .cumpleaños:hover, main .grid-cont .catadevino, main .grid-cont .catadevino:hover, main .grid-content div .piezasa1, main .grid-content div .piezasa1:hover, main .grid-content div .piezasa2, main .grid-content div .piezasa2:hover {
  box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
}

.slider {
  width: 30%;
  margin: auto;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 90%;
  -webkit-animation: cambio 20s infinite alternate;
          animation: cambio 20s infinite alternate;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.slider ul li {
  width: 30%;
  list-style: none;
}
.slider ul li img {
  width: 335%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  15% {
    margin-left: 0;
  }
  20% {
    margin-left: -100%;
  }
  40% {
    margin-left: -100%;
  }
}

.slider2 {
  width: 95%;
  margin: auto;
  overflow: hidden;
}
.slider2 ul {
  display: flex;
  padding: 0;
  width: 200%;
  -webkit-animation: cambio 20s infinite alternate;
          animation: cambio 20s infinite alternate;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.slider2 ul li {
  width: 400%;
  list-style: none;
}
.slider2 ul li img {
  width: 80%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  15% {
    margin-left: 0;
  }
  20% {
    margin-left: -100%;
  }
  40% {
    margin-left: -100%;
  }
}

.boton {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5em;
  margin: 1.875em;
}
.boton a {
  text-decoration: none;
  display: inline-flex;
  width: 90%;
  height: 20%;
  background-color: #1F1F24;
  color: ivory;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 0.3125em;
  position: relative;
  overflow: hidden;
}
.boton a span {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
}
.boton:after {
  content: "";
  width: 90%;
  height: 20%;
  background: #c4b107;
  position: absolute;
  z-index: 1;
  top: -5em;
  left: 0;
  transition: 0.3s ease-in-out all;
}
.boton .enviar {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5em;
}
.boton .enviar button {
  text-decoration: none;
  display: inline-flex;
  width: 90%;
  height: 20%;
  background-color: #1F1F24;
  color: ivory;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9375em;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.boton .enviar button input {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
  font-family: "Montserrat", sans-serif;
  background-color: #1F1F24;
}
.boton .enviar button:after {
  content: "";
  width: 90%;
  height: 20%;
  background: #c4b107;
  position: absolute;
  z-index: 1;
  top: -5em;
  left: 0;
  transition: 0.3s ease-in-out all;
}

/*Colores*/
/*Font Family*/
/*Extends*/
body main div p, .boton a, .boton .enviar button, .fotos, main h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-conteni .relax:hover, .grid-conteni .relax, .grid-conteni .spaday:hover, .grid-conteni .spaday, .grid-conteni .roja:hover, .grid-conteni .roja, .grid-conteni .boda:hover, .grid-conteni .boda, body main .gastronomica:hover, body main .gastronomica, body main .piezas .habi2:hover, body main .piezas .habi2, body main .piezas .habi1:hover, body main .piezas .habi1, main .grid-cont .casamiento, main .grid-cont .casamiento:hover, main .grid-cont .reunion, main .grid-cont .reunion:hover, main .grid-cont .cumpleaños, main .grid-cont .cumpleaños:hover, main .grid-cont .catadevino, main .grid-cont .catadevino:hover, main .grid-content div .piezasa1, main .grid-content div .piezasa1:hover, main .grid-content div .piezasa2, main .grid-content div .piezasa2:hover {
  box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body .grid-mayor .gridis .navbar .container-fluid ul {
  list-style-type: none;
  font-size: 15px;
  font-weight: 120;
}
body .grid-mayor .gridis .navbar .container-fluid ul li {
  display: inline-block;
}
body .grid-mayor .gridis .navbar .container-fluid ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5625em;
}
body main div h2 {
  font-family: "Montserrat", sans-serif;
  color: #c4b107;
}
body main div p {
  font-family: "Montserrat", sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
body main .piezas {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding-top: 25px;
}
body main .piezas .habi1 {
  width: 430px;
  height: 520px;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  padding: 25px;
}
body main .piezas .habi1:hover {
  transform: translateY(-15px);
}
body main .piezas .habi1 img {
  width: 330px;
  height: 330px;
}
body main .piezas .habi1 h3 {
  color: #c4b107;
  font-weight: 600;
}
body main .piezas .habi1 p {
  font-family: "Montserrat", sans-serif;
}
body main .piezas .habi1 .btn a {
  text-decoration: none;
  color: black;
}
body main .piezas .habi2 {
  width: 430px;
  height: 520px;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  padding: 25px;
}
body main .piezas .habi2:hover {
  transform: translateY(-15px);
}
body main .piezas .habi2 img {
  width: 330px;
  height: 330px;
}
body main .piezas .habi2 h3 {
  color: #c4b107;
  font-weight: 600;
}
body main .piezas .habi2 p {
  font-family: "Montserrat", sans-serif;
}
body main .piezas .habi2 .btn a {
  text-decoration: none;
  color: black;
}
body main .gastronomica {
  width: 930px;
  max-width: 1200px;
  height: 520px;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  padding: 25px;
  position: center;
}
body main .gastronomica:hover {
  transform: translateY(-15px);
}
body main .gastronomica img {
  width: 530px;
  height: 330px;
}
body main .gastronomica h3 {
  color: #c4b107;
  font-weight: 600;
}
body main .gastronomica p {
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 768px) {
  body main .gastronomica {
    width: 430px;
    height: 520px;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    padding: 25px;
  }
}
@media screen and (max-width: 578px) {
  body main .gastronomica {
    width: 430px;
    height: 520px;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    padding: 25px;
  }
}

/*Colores*/
/*Font Family*/
/*Extends*/
.boton a, .boton .enviar button, .fotos, main h2, body main div p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-conteni .relax:hover, .grid-conteni .relax, .grid-conteni .spaday:hover, .grid-conteni .spaday, .grid-conteni .roja:hover, .grid-conteni .roja, .grid-conteni .boda:hover, .grid-conteni .boda, main .grid-cont .casamiento, main .grid-cont .casamiento:hover, main .grid-cont .reunion, main .grid-cont .reunion:hover, main .grid-cont .cumpleaños, main .grid-cont .cumpleaños:hover, main .grid-cont .catadevino, main .grid-cont .catadevino:hover, main .grid-content div .piezasa1, main .grid-content div .piezasa1:hover, main .grid-content div .piezasa2, main .grid-content div .piezasa2:hover, body main .piezas .habi1, body main .piezas .habi1:hover, body main .piezas .habi2, body main .piezas .habi2:hover, body main .gastronomica, body main .gastronomica:hover {
  box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
}

.slider {
  width: 30%;
  margin: auto;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 90%;
  -webkit-animation: cambio 20s infinite alternate;
          animation: cambio 20s infinite alternate;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.slider ul li {
  width: 30%;
  list-style: none;
}
.slider ul li img {
  width: 335%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  15% {
    margin-left: 0;
  }
  20% {
    margin-left: -100%;
  }
  40% {
    margin-left: -100%;
  }
}

.slider2 {
  width: 95%;
  margin: auto;
  overflow: hidden;
}
.slider2 ul {
  display: flex;
  padding: 0;
  width: 200%;
  -webkit-animation: cambio 20s infinite alternate;
          animation: cambio 20s infinite alternate;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.slider2 ul li {
  width: 400%;
  list-style: none;
}
.slider2 ul li img {
  width: 80%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  15% {
    margin-left: 0;
  }
  20% {
    margin-left: -100%;
  }
  40% {
    margin-left: -100%;
  }
}

.boton {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5em;
  margin: 1.875em;
}
.boton a {
  text-decoration: none;
  display: inline-flex;
  width: 90%;
  height: 20%;
  background-color: #1F1F24;
  color: ivory;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 0.3125em;
  position: relative;
  overflow: hidden;
}
.boton a span {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
}
.boton:after {
  content: "";
  width: 90%;
  height: 20%;
  background: #c4b107;
  position: absolute;
  z-index: 1;
  top: -5em;
  left: 0;
  transition: 0.3s ease-in-out all;
}
.boton .enviar {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5em;
}
.boton .enviar button {
  text-decoration: none;
  display: inline-flex;
  width: 90%;
  height: 20%;
  background-color: #1F1F24;
  color: ivory;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9375em;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.boton .enviar button input {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
  font-family: "Montserrat", sans-serif;
  background-color: #1F1F24;
}
.boton .enviar button:after {
  content: "";
  width: 90%;
  height: 20%;
  background: #c4b107;
  position: absolute;
  z-index: 1;
  top: -5em;
  left: 0;
  transition: 0.3s ease-in-out all;
}

/*Colores*/
/*Font Family*/
/*Extends*/
.boton a, .boton .enviar button, .fotos, main h2, body main div p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-conteni .relax:hover, .grid-conteni .relax, .grid-conteni .spaday:hover, .grid-conteni .spaday, .grid-conteni .roja:hover, .grid-conteni .roja, .grid-conteni .boda:hover, .grid-conteni .boda, main .grid-cont .casamiento, main .grid-cont .casamiento:hover, main .grid-cont .reunion, main .grid-cont .reunion:hover, main .grid-cont .cumpleaños, main .grid-cont .cumpleaños:hover, main .grid-cont .catadevino, main .grid-cont .catadevino:hover, main .grid-content div .piezasa1, main .grid-content div .piezasa1:hover, main .grid-content div .piezasa2, main .grid-content div .piezasa2:hover, body main .piezas .habi1, body main .piezas .habi1:hover, body main .piezas .habi2, body main .piezas .habi2:hover, body main .gastronomica, body main .gastronomica:hover {
  box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

.grid-conteni {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding-top: 25px;
}
.grid-conteni .boda {
  width: 430px;
  height: 420px;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  padding: 25px;
}
.grid-conteni .boda:hover {
  transform: translateY(-15px);
}
.grid-conteni .boda img {
  width: 100%;
  height: 50%;
}
.grid-conteni .boda h3 {
  color: #c4b107;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.grid-conteni .boda p {
  font-family: "Montserrat", sans-serif;
}
.grid-conteni .boda .btn a {
  text-decoration: none;
  color: black;
}
.grid-conteni .roja {
  width: 430px;
  height: 420px;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  padding: 25px;
}
.grid-conteni .roja:hover {
  transform: translateY(-15px);
}
.grid-conteni .roja img {
  width: 100%;
  height: 50%;
}
.grid-conteni .roja h3 {
  color: #c4b107;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.grid-conteni .roja p {
  font-family: "Montserrat", sans-serif;
}
.grid-conteni .roja .btn a {
  text-decoration: none;
  color: black;
}
.grid-conteni .spaday {
  width: 430px;
  height: 420px;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  padding: 25px;
}
.grid-conteni .spaday:hover {
  transform: translateY(-15px);
}
.grid-conteni .spaday img {
  width: 100%;
  height: 50%;
}
.grid-conteni .spaday h3 {
  color: #c4b107;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.grid-conteni .spaday p {
  font-family: "Montserrat", sans-serif;
}
.grid-conteni .spaday .btn a {
  text-decoration: none;
  color: black;
}
.grid-conteni .relax {
  width: 430px;
  height: 420px;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  padding: 25px;
}
.grid-conteni .relax:hover {
  transform: translateY(-15px);
}
.grid-conteni .relax img {
  width: 100%;
  height: 50%;
}
.grid-conteni .relax h3 {
  color: #c4b107;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.grid-conteni .relax p {
  font-family: "Montserrat", sans-serif;
}
.grid-conteni .relax .btn a {
  text-decoration: none;
  color: black;
}

/*Colores*/
/*Font Family*/
/*Extends*/
.boton a, .boton .enviar button, .fotos, main h2, body main div p {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .grid-cont .casamiento, main .grid-cont .casamiento:hover, main .grid-cont .reunion, main .grid-cont .reunion:hover, main .grid-cont .cumpleaños, main .grid-cont .cumpleaños:hover, main .grid-cont .catadevino, main .grid-cont .catadevino:hover, main .grid-content div .piezasa1, main .grid-content div .piezasa1:hover, main .grid-content div .piezasa2, main .grid-content div .piezasa2:hover, body main .piezas .habi1, body main .piezas .habi1:hover, body main .piezas .habi2, body main .piezas .habi2:hover, body main .gastronomica, body main .gastronomica:hover, .grid-conteni .boda, .grid-conteni .boda:hover, .grid-conteni .roja, .grid-conteni .roja:hover, .grid-conteni .spaday, .grid-conteni .spaday:hover, .grid-conteni .relax, .grid-conteni .relax:hover {
  box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
}

.slider {
  width: 30%;
  margin: auto;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 90%;
  -webkit-animation: cambio 20s infinite alternate;
          animation: cambio 20s infinite alternate;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.slider ul li {
  width: 30%;
  list-style: none;
}
.slider ul li img {
  width: 335%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  15% {
    margin-left: 0;
  }
  20% {
    margin-left: -100%;
  }
  40% {
    margin-left: -100%;
  }
}

.slider2 {
  width: 95%;
  margin: auto;
  overflow: hidden;
}
.slider2 ul {
  display: flex;
  padding: 0;
  width: 200%;
  -webkit-animation: cambio 20s infinite alternate;
          animation: cambio 20s infinite alternate;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.slider2 ul li {
  width: 400%;
  list-style: none;
}
.slider2 ul li img {
  width: 80%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  15% {
    margin-left: 0;
  }
  20% {
    margin-left: -100%;
  }
  40% {
    margin-left: -100%;
  }
}

.boton {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5em;
  margin: 1.875em;
}
.boton a {
  text-decoration: none;
  display: inline-flex;
  width: 90%;
  height: 20%;
  background-color: #1F1F24;
  color: ivory;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 0.3125em;
  position: relative;
  overflow: hidden;
}
.boton a span {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
}
.boton:after {
  content: "";
  width: 90%;
  height: 20%;
  background: #c4b107;
  position: absolute;
  z-index: 1;
  top: -5em;
  left: 0;
  transition: 0.3s ease-in-out all;
}
.boton .enviar {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5em;
}
.boton .enviar button {
  text-decoration: none;
  display: inline-flex;
  width: 90%;
  height: 20%;
  background-color: #1F1F24;
  color: ivory;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9375em;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.boton .enviar button input {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
  font-family: "Montserrat", sans-serif;
  background-color: #1F1F24;
}
.boton .enviar button:after {
  content: "";
  width: 90%;
  height: 20%;
  background: #c4b107;
  position: absolute;
  z-index: 1;
  top: -5em;
  left: 0;
  transition: 0.3s ease-in-out all;
}

/*Colores*/
/*Font Family*/
/*Extends*/
.boton a, .boton .enviar button, .fotos, main h2, body main div p {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .grid-cont .casamiento, main .grid-cont .casamiento:hover, main .grid-cont .reunion, main .grid-cont .reunion:hover, main .grid-cont .cumpleaños, main .grid-cont .cumpleaños:hover, main .grid-cont .catadevino, main .grid-cont .catadevino:hover, main .grid-content div .piezasa1, main .grid-content div .piezasa1:hover, main .grid-content div .piezasa2, main .grid-content div .piezasa2:hover, body main .piezas .habi1, body main .piezas .habi1:hover, body main .piezas .habi2, body main .piezas .habi2:hover, body main .gastronomica, body main .gastronomica:hover, .grid-conteni .boda, .grid-conteni .boda:hover, .grid-conteni .roja, .grid-conteni .roja:hover, .grid-conteni .spaday, .grid-conteni .spaday:hover, .grid-conteni .relax, .grid-conteni .relax:hover {
  box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  padding-top: 50px;
}
main h2 {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #c4b107;
}
main .btn a {
  text-decoration: none;
  color: black;
}

/*Colores*/
/*Font Family*/
/*Extends*/
.boton a, .boton .enviar button, .fotos, main h2, body main div p {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .grid-cont .casamiento, main .grid-cont .casamiento:hover, main .grid-cont .reunion, main .grid-cont .reunion:hover, main .grid-cont .cumpleaños, main .grid-cont .cumpleaños:hover, main .grid-cont .catadevino, main .grid-cont .catadevino:hover, main .grid-content div .piezasa1, main .grid-content div .piezasa1:hover, main .grid-content div .piezasa2, main .grid-content div .piezasa2:hover, body main .piezas .habi1, body main .piezas .habi1:hover, body main .piezas .habi2, body main .piezas .habi2:hover, body main .gastronomica, body main .gastronomica:hover, .grid-conteni .boda, .grid-conteni .boda:hover, .grid-conteni .roja, .grid-conteni .roja:hover, .grid-conteni .spaday, .grid-conteni .spaday:hover, .grid-conteni .relax, .grid-conteni .relax:hover {
  box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
}

.slider {
  width: 30%;
  margin: auto;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 90%;
  -webkit-animation: cambio 20s infinite alternate;
          animation: cambio 20s infinite alternate;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.slider ul li {
  width: 30%;
  list-style: none;
}
.slider ul li img {
  width: 335%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  15% {
    margin-left: 0;
  }
  20% {
    margin-left: -100%;
  }
  40% {
    margin-left: -100%;
  }
}

.slider2 {
  width: 95%;
  margin: auto;
  overflow: hidden;
}
.slider2 ul {
  display: flex;
  padding: 0;
  width: 200%;
  -webkit-animation: cambio 20s infinite alternate;
          animation: cambio 20s infinite alternate;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.slider2 ul li {
  width: 400%;
  list-style: none;
}
.slider2 ul li img {
  width: 80%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  15% {
    margin-left: 0;
  }
  20% {
    margin-left: -100%;
  }
  40% {
    margin-left: -100%;
  }
}

.boton {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5em;
  margin: 1.875em;
}
.boton a {
  text-decoration: none;
  display: inline-flex;
  width: 90%;
  height: 20%;
  background-color: #1F1F24;
  color: ivory;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 0.3125em;
  position: relative;
  overflow: hidden;
}
.boton a span {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
}
.boton:after {
  content: "";
  width: 90%;
  height: 20%;
  background: #c4b107;
  position: absolute;
  z-index: 1;
  top: -5em;
  left: 0;
  transition: 0.3s ease-in-out all;
}
.boton .enviar {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5em;
}
.boton .enviar button {
  text-decoration: none;
  display: inline-flex;
  width: 90%;
  height: 20%;
  background-color: #1F1F24;
  color: ivory;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9375em;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.boton .enviar button input {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
  font-family: "Montserrat", sans-serif;
  background-color: #1F1F24;
}
.boton .enviar button:after {
  content: "";
  width: 90%;
  height: 20%;
  background: #c4b107;
  position: absolute;
  z-index: 1;
  top: -5em;
  left: 0;
  transition: 0.3s ease-in-out all;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

/*Colores*/
/*Font Family*/
/*Extends*/
.boton a, .boton .enviar button, .fotos, main h2, body main div p {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .grid-cont .casamiento, main .grid-cont .casamiento:hover, main .grid-cont .reunion, main .grid-cont .reunion:hover, main .grid-cont .cumpleaños, main .grid-cont .cumpleaños:hover, main .grid-cont .catadevino, main .grid-cont .catadevino:hover, main .grid-content div .piezasa1, main .grid-content div .piezasa1:hover, main .grid-content div .piezasa2, main .grid-content div .piezasa2:hover, body main .piezas .habi1, body main .piezas .habi1:hover, body main .piezas .habi2, body main .piezas .habi2:hover, body main .gastronomica, body main .gastronomica:hover, .grid-conteni .boda, .grid-conteni .boda:hover, .grid-conteni .roja, .grid-conteni .roja:hover, .grid-conteni .spaday, .grid-conteni .spaday:hover, .grid-conteni .relax, .grid-conteni .relax:hover {
  box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(166, 154, 163, 0.75);
}

body main .nuestra-ubi {
  width: 100%;
  max-width: 1200px;
  height: 630px;
}
body main .nuestra-ubi h2 {
  padding-top: 40px;
  color: #c4b107;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
body main .nuestra-ubi p {
  font-family: "Montserrat", sans-serif;
}
body main .nuestra-ubi iframe {
  width: 330px;
  height: 330px;
}/*# sourceMappingURL=estilos.css.map */