@import "../base/variables";
@import "../base/media-querys";
@import "../base/generales";
@import "../base/animaciones";

main{ 
    h2{
        font-family: $Font-always;
        color: $color-letras;
        font-size: 30px;
        margin: 20px;
        @extend%flex;
    }
    .grid-content{ 
        width: 100%;
        max-width: 1200px;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        .habitaciones{
            .piezasa1{
            width:630px ;
            max-width: 1200px;
            height: 420px;
            border-radius: 8px;
            @extend%espacio;
            overflow: hidden;
            margin: 20px;
            text-align: center;
            transition: all 0.25s;
            padding: 25px;
                &:hover{
                transform: translateY(-15px);
                @extend%espacio;
                }
            .slider2{
                width: 40%;
                margin: auto;
                overflow: hidden;
                    ul{
                    display: flex;
                    padding: 0;
                    width: 200%;
                    animation: cambio 20s infinite alternate;
                    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
                    li{
                    width: 400%;
                    list-style: none;
                    img{
                        width: 330px;
                        height: 220px;        
                        }
                    }
                }
            } 
            h3{
                color: $color-letras;
                font-family: $Font-always;
                font-weight: 600;
                }
            p{
                font-family: $Font-always;
                }
                @include media-up(sm){
                    width: 320px;
                    height: 230px;
                    border-radius: 8px;
                    overflow: hidden;
                    margin: 20px;
                    text-align: center;
                    transition: all 0.25s;
                    padding-top: 25px;
                    padding-left: 35px;
                
            }
            @include media-up (md){
                width: 320px;
                height: 380px;
                border-radius: 8px;
                overflow: hidden;
                margin: 20px;
                text-align: center;
                transition: all 0.25s;
                padding-top: 25px;
                padding-left: 35px;
            }
            }
            .piezasa2{
                width:630px ;
                height: 420px;
                max-width: 1200px;
                border-radius: 8px;
                @extend%espacio;
                overflow: hidden;
                margin: 20px;
                text-align: center;
                transition: all 0.25s;
                padding: 25px;
                    &:hover{
                    transform: translateY(-15px);
                    @extend%espacio;
                    }
                .slider2{
                    width: 40%;
                    margin: auto;
                    overflow: hidden;
                        ul{
                        display: flex;
                        padding: 0;
                        width: 630px;
                        animation: cambio 20s infinite alternate;
                        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
                        li{
                        width:400%;
                        list-style: none;
                        img{
                            width: 330px;
                            height: 220px;        
                            }
                        }
                    }
                } 
        h3{
            color: $color-letras;
            font-family: $Font-always;
            font-weight: 600;
        }
        p{
            font-family: $Font-always;
        }
        @include media-up(sm){
            width: 445px;
            height: 380px;
            border-radius: 8px;
            overflow: hidden;
            margin: 30px;
            text-align: center;
            transition: all 0.25s;
            padding-left: 60px;

        }
            }
        }
    }
}                        






















