@import"../base/media-querys";
@import"../base/animaciones";
@import"../base/variables";
@import"../base/generales";


body{
    .grid-mayor{
        .gridis{
            .navbar{
                .container-fluid{
                    ul{
                        list-style-type: none;
                        font-size: 25px;
                        font-weight: 150;
                        li{
                            display: inline-block;
                            a{
                                text-decoration:none ;
                                color: white;
                                display: flex;
                                justify-content: flex-end;
                                text-transform: uppercase;
                                font-family: $Font-always;
                                font-size: 1.5625em;
                            }
                        }
                    }
                }
            }
        }
    }
    main{
        div{
            h2{
                font-family: $Font-always;
                color: $color-letras;
            }
            p{
                font-family: $Font-always;
                @extend%flex;
            }
        }
        .piezas{
            width: 100%;
            max-width: 1200px;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;
            padding-top: 25px;
            .habi1{
                width: 430px;
                height: 520px;
                border-radius: 8px;
                @extend%espacio;
                overflow: hidden;
                margin: 20px;
                text-align: center;
                transition: all 0.25s;
                padding: 25px;
                &:hover{
                    transform: translateY(-15px);
                    @extend%espacio;
                }
                img{
                    width: 330px;
                    height: 330px;
                }
                h3{
                    color: $color-letras;
                    font-weight: 600 ;
                }
                p{
                    font-family: $Font-always;
                }
                .btn{
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
            }
            .habi2{
                width: 430px;
                height: 520px;
                border-radius: 8px;
                @extend%espacio;
                overflow: hidden;
                margin: 20px;
                text-align: center;
                transition: all 0.25s;
                padding: 25px;
                &:hover{
                    transform: translateY(-15px);
                    @extend%espacio;
                }
                img{
                    width: 330px;
                    height: 330px;
                }
                h3{
                    color: $color-letras;
                    font-weight: 600 ;
                }
                p{
                    font-family: $Font-always;
                }
                .btn{
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
            }    
        }
        .gastronomica{
                width: 930px;
                max-width: 1200px;
                height: 520px;
                border-radius: 8px;
                @extend%espacio;
                overflow: hidden;
                margin: 20px;
                text-align: center;
                transition: all 0.25s;
                padding: 25px;
                position: center;
                &:hover{
                    transform: translateY(-15px);
                    @extend%espacio;
                }
                img{
                    width: 530px;
                    height: 330px;
                }
                h3{
                    color: $color-letras;
                    font-weight: 600 ;
                }
                p{
                    font-family: $Font-always;
                }
                @include tablet{
                    width: 430px;
                    height: 520px;
                    border-radius: 8px;
                    overflow: hidden;
                    margin: 20px;
                    text-align: center;
                    transition: all 0.25s;
                    padding: 25px;
                }
                @include mobile{
                    width: 430px;
                    height: 520px;
                    border-radius: 8px;
                    overflow: hidden;
                    margin: 20px;
                    text-align: center;
                    transition: all 0.25s;
                    padding: 25px;
                }
        }
    }

}