
@import"../base/media-querys";
@import"../base/animaciones";
@import"../base/variables";
@import"../base/generales";

.grid-conteni{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding-top: 25px;
    .boda{
        width: 430px;
        height: 420px;
        border-radius: 8px;
        @extend%espacio;
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
        padding: 25px;
        &:hover{
            transform: translateY(-15px);
            @extend%espacio;
        }
        img{
            width: 100%;
            height: 50%;
        }
        h3{
            color: $color-letras;
            font-family: $Font-always;
            font-weight: 600;
        }
        p{
            font-family: $Font-always;
        }
        .btn{
            a{
                text-decoration: none;
                color: black;
            }

        }
    }
    .roja{
        width: 430px;
        height: 420px;
        border-radius: 8px;
        @extend%espacio;
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
        padding: 25px;
        &:hover{
            transform: translateY(-15px);
            @extend%espacio;
        }
        img{
            width: 100%;
            height: 50%;
        }
        h3{
            color: $color-letras;
            font-family: $Font-always;
            font-weight: 600;
        }
        p{
            font-family: $Font-always;
        }
        .btn{
            a{
                text-decoration: none;
                color: black;
            }

        }
    }
    .spaday{
        width: 430px;
        height: 420px;
        border-radius: 8px;
        @extend%espacio;
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
        padding: 25px;
        &:hover{
            transform: translateY(-15px);
            @extend%espacio;
        }
        img{
            width: 100%;
            height: 50%;
        }
        h3{
            color: $color-letras;
            font-family: $Font-always;
            font-weight: 600;
        }
        p{
            font-family: $Font-always;
        }
        .btn{
            a{
                text-decoration: none;
                color: black;
            }

        }
    }
    .relax{
        width: 430px;
        height: 420px;
        border-radius: 8px;
        @extend%espacio;
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
        padding: 25px;
        &:hover{
            transform: translateY(-15px);
            @extend%espacio;
        }
        img{
            width: 100%;
            height: 50%;
        }
        h3{
            color: $color-letras;
            font-family: $Font-always;
            font-weight: 600;
        }
        p{
            font-family: $Font-always;
        }
        .btn{
            a{
                text-decoration: none;
                color: black;
            }

        }
    }

}








































