@import"../base/media-querys";
@import"../base/animaciones";
@import"../base/variables";
@import"../base/generales";

main{

    h1{
        font-weight: 600;
        font-family: $Font-always;
        color: $color-letras;
    }
    .btn{
        a{
            text-decoration: none;
            color: black;
        }
        margin-top: 20px;
        margin-bottom: 30px;
        width: 800px;
        margin-left: 30px;
        
        @include media-up (sm){
            margin-top: 20px;
            margin-bottom: 30px;
            width: 380px;
            margin-left: 40px;
        }
        @include media-up (md){
            margin-top: 20px;
            margin-bottom: 30px;
            width: 700px;
            margin-left: 30px;
        }
        @include media-up (lg){
            margin-top: 20px;
            margin-bottom: 30px;
            width: 800px;
            margin-left: 30px;
        }
    }
}




