



@mixin tablet{
    @media screen and (max-width:768px){
        @content;
        
    }

    
}


@mixin mobile{
    @media screen and (max-width:578px){
        @content;
        
    }
}
$breakpoints:(
    sm: 540px,
    md: 765px,
    lg:1024px,
);
@mixin media-up($breakpoints)  {
@media screen and (min-width: map-get($breakpoints, $breakpoints)){
    @content
}
}
















